/* If "back to menu" radiobutton is not selected, hide header  */
:has(main input:not(:checked)) {
    & header {
        display: none;
    }
}

/* Else, hide main */
:has(main input:checked) {
    & main {
        display: none;
    }
}

/* Level 1 selected */
:has(nav>div>div:nth-child(7) input:checked) {
    background-color: red;
}

/* Level 0 selected */
:has(nav>div>div:nth-child(8) input:checked) {
    background-color: green;
}

/* Level 2 selected */
:has(nav>div>div:nth-child(9) input:checked) {
    background-color: blue;
}

/* Level 3 selected */
:has(nav>div>div:nth-child(16) input:checked) {
    background-color: red;
}

/* Level 4 selected */
:has(nav>div>div:nth-child(18) input:checked) {
    background-color: green;
}

/* Level 5 selected */
:has(nav>div>div:nth-child(25) input:checked) {
    background-color: blue;
}

/* Level 6 selected */
:has(nav>div>div:nth-child(26) input:checked) {
    background-color: red;
}

/* Level 7 selected */
:has(nav>div>div:nth-child(27) input:checked) {
    background-color: green;
}