/* Dark mode selected */
:has(nav>div>div:nth-child(8) label:nth-child(1) input:checked)  {

    & nav>div>div:nth-child(8) label:nth-child(1) {
        display: none;
    }

    &:root {
        --cube-yellow: #b8963f;
        --cube-red: #c45a86;
        --cube-orange: #c46b45;
        --cube-white: #d8d8d8;
        --cube-green: #5f9e3c;
        --cube-blue: #6f8fd6;
    }
}

/* Light mode selected */
:has(nav>div>div:nth-child(8) label:nth-child(2) input:checked) {

    & nav>div>div:nth-child(8) label:nth-child(2) {
        display: none;
    }

    &:root {
        --cube-yellow: #f6cf71;
        --cube-red: #f388b1;
        --cube-orange: #f89c74;
        --cube-white: white;
        --cube-green: #87c55f;
        --cube-blue: #9eb9f3;
    }
}