/* Title section */
header {
    --cube-width: 8vw;
    --cube-height: var(--cube-width);
    --cube-depth: var(--cube-width);

    /* TODO EDIT */

    /* Large perspective to mimic orthographic view */
    perspective: 1800000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100VH;

    & * {
        transform-style: preserve-3d;
    }

    &>div {

        &:nth-child(1) {
            --animation-iteration-count: 1;
        }

        &:nth-child(2) {
            --animation-iteration-count: 2;
        }

        &:nth-child(3) {
            --animation-iteration-count: 3;
        }

        &>div {
            transform: translateX(calc(var(--cube-width) * var(--x))) translateY(calc(var(--cube-height) * var(--y))) rotateX(var(--x-rotation));

            &:nth-of-type(even) {
                animation: rotation 2s var(--animation-iteration-count) ease-in-out;
            }

            &:nth-of-type(odd) {
                animation: rotation reverse 2s var(--animation-iteration-count) ease-in-out;
            }
        }
    }


    /* Offset each letter of "Solve" by the cube width */
    &>div:nth-child(1)>div {
        --y: -1.75;

        &:nth-child(1) {
            --x: -2;
        }

        &:nth-child(2) {
            --x: -1;
        }

        &:nth-child(3) {
            --x: 0;
        }

        &:nth-child(4) {
            --x: 1;
        }

        &:nth-child(5) {
            --x: 2;
        }
    }

    /* Offset each letter of "It" by the cube width */
    &>div:nth-child(2)>div {
        --y: 0;

        &:nth-child(1) {
            --x: -0.5;
        }

        &:nth-child(2) {
            --x: 0.5;
        }
    }

    /* Offset each letter of "Now" by the cube width */
    &>div:nth-child(3)>div {
        --y: 1.75;

        &:nth-child(1) {
            --x: -1;
        }

        &:nth-child(2) {
            --x: 0;
        }

        &:nth-child(3) {
            --x: 1;
        }
    }

    /* All faces */
    &>div>div>div {
        position: absolute;
        box-shadow: inset 0 0 0 2px black;
        width: var(--cube-width);
        height: var(--cube-height);
        display: flex;
        justify-content: center;
        align-items: center;

        /* Font */
        font-size: calc(var(--cube-width) * 0.6);
        line-height: 1;
        text-align: center;
        color: black;
        /* or whatever works on your cube colors */
        font-weight: bold;
        user-select: none;

        /* Front faces */
        &:nth-child(1) {
            background-color: var(--cube-yellow);
            transform: translateX(calc(var(--cube-width) / -2)) translateY(calc(var(--cube-height) / -2)) translateZ(calc(var(--cube-depth) / 2));
        }

        /* Back faces */
        &:nth-child(2) {
            background-color: var(--cube-red);
            transform: translateX(calc(var(--cube-width) / -2)) translateZ(calc(var(--cube-depth) / -2)) translateY(calc(var(--cube-height) / -2));
        }

        /* Top faces */
        &:nth-child(3) {
            background: var(--cube-orange);
            transform: translateX(calc(var(--cube-width) / -2)) translateY(calc(var(--cube-height) / -2)) rotateX(90deg) translateZ(calc(var(--cube-height) / 2));
        }

        /* Bottom faces */
        &:nth-child(4) {
            background: var(--cube-white);
            transform: translateX(calc(var(--cube-width) / -2)) translateY(calc(var(--cube-height) / -2)) rotateX(90deg) translateZ(calc(var(--cube-height) / -2));
        }

        /* Right faces */
        &:nth-child(5) {
            background: var(--cube-green);
            transform: translateX(calc(var(--cube-width) / -2)) rotateY(90deg) translateZ(calc(var(--cube-width) / 2)) translateY(calc(var(--cube-height) / -2));
        }

        /* Left faces */
        &:nth-child(6) {
            background: var(--cube-blue);
            transform: translateX(calc(var(--cube-width) / -2)) rotateY(90deg) translateZ(calc(var(--cube-width) / -2)) translateY(calc(var(--cube-height) / -2));
        }
    }
}

@property --x-rotation {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotation {
    from {
        --x-rotation: 359deg;
    }

    to {
        --x-rotation: 0deg;
    }
}