body>main>div:nth-of-type(2) {
  & * {
    transform-style: preserve-3d;
  }

  &>div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    perspective: 2000px;
    perspective-origin: 750px -100px;

    --max-cube-width: calc((60vw - 32px) / 3);
    --max-cube-height: calc((40vh - 32px) / 3);

    /* Use the smaller of width or height */
    --cube-size: clamp(30px, min(var(--max-cube-width), var(--max-cube-height)), 100px);

    --cube-width: var(--cube-size);
    --cube-height: var(--cube-size);
    --cube-depth: var(--cube-size);

    /* All faces */
    &>div>div>div {
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 0 2px black;

      position: absolute;
      width: var(--cube-width);
      height: var(--cube-height);
    }

    /* All cubes */
    &>div>div {
      --base-translate: translateX(calc(var(--x) * var(--cube-width) + var(--cube-width) / -2)) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));

      /* Front faces */
      &>div:nth-child(1) {
        background: black;
        transform: translateZ(calc(var(--cube-depth) / 2));
      }

      &[style*="--z:1"]>div:nth-child(1) {
        background: var(--cube-red);
      }

      /* Back faces*/
      &>div:nth-child(2) {
        background: black;
        transform: translateZ(calc(var(--cube-depth) / -2));
      }

      &[style*="--z:-1"]>div:nth-child(2) {
        background: var(--cube-blue);
      }

      /* Top faces */
      &>div:nth-child(3) {
        background: black;
        transform: rotateX(90deg) translateZ(calc(var(--cube-height) / 2));
      }

      &[style*="--y:-1"]>div:nth-child(3) {
        background: var(--cube-yellow);
      }

      /* Bottom faces */
      &>div:nth-child(4) {
        background: black;
        transform: rotateX(90deg) translateZ(calc(var(--cube-height) / -2));
      }

      &[style*="--y:1"]>div:nth-child(4) {
        background: var(--cube-green);
      }

      /* Right faces */
      &>div:nth-child(5) {
        background: black;
        transform: rotateY(90deg) translateZ(calc(var(--cube-width) / 2));
      }

      &[style*="--x:1"]>div:nth-child(5) {
        background: var(--cube-orange);
      }

      /* Left faces */
      &>div:nth-child(6) {
        background: black;
        transform: rotateY(90deg) translateZ(calc(var(--cube-width) / -2));
      }

      &[style*="--x:-1"]>div:nth-child(6) {
        background: var(--cube-white);
      }

      /* Show large Letter with orientation on each middle cube */
      &>div::before,
      &>div::after {
        position: fixed;
        top: 50%;
        left: 50%;
        font-size: calc(var(--cube-width) * 0.4);
      }

      /* Front face */
      &[style="--x:0; --y:0; --z:1;"]>div::before,
      &[style="--x:0; --y:0; --z:1;"]>div::after {
        content: "F";
      }

      &[style="--x:0; --y:0; --z:1;"]>div::before {
        transform: translate(-50%, -50%) rotate(45deg) translate(50%);
      }

      &[style="--x:0; --y:0; --z:1;"]>div::after {
        transform: translate(-50%, -50%) rotate(-135deg) translate(50%);
      }

      /* Back face */
      &[style="--x:0; --y:0; --z:-1;"]>div::before,
      &[style="--x:0; --y:0; --z:-1;"]>div::after {
        content: "B";
      }

      &[style="--x:0; --y:0; --z:-1;"]>div::before {
        transform: translate(-50%, -50%) rotate(45deg) rotateY(180deg) translate(50%);
      }

      &[style="--x:0; --y:0; --z:-1;"]>div::after {
        transform: translate(-50%, -50%) rotate(-135deg) rotateY(180deg) translate(50%);
      }

      /* Top face */
      &[style="--x:0; --y:-1; --z:0;"]>div::before,
      &[style="--x:0; --y:-1; --z:0;"]>div::after {
        content: "U";
      }

      &[style="--x:0; --y:-1; --z:0;"]>div::before {
        transform: translate(-50%, -50%) rotate(45deg) translate(50%);
      }

      &[style="--x:0; --y:-1; --z:0;"]>div::after {
        transform: translate(-50%, -50%) rotate(-135deg) translate(50%);
      }

      /* Bottom face */
      &[style="--x:0; --y:1; --z:0;"]>div::before,
      &[style="--x:0; --y:1; --z:0;"]>div::after {
        content: "D";
      }

      &[style="--x:0; --y:1; --z:0;"]>div::before {
        transform: translate(-50%, -50%) rotate(45deg) rotateY(180deg) translate(50%);
      }

      &[style="--x:0; --y:1; --z:0;"]>div::after {
        transform: translate(-50%, -50%) rotate(-135deg) rotateY(180deg) translate(50%);
      }

      /* Left face */
      &[style="--x:-1; --y:0; --z:0;"]>div::before,
      &[style="--x:-1; --y:0; --z:0;"]>div::after {
        content: "L";
      }

      &[style="--x:-1; --y:0; --z:0;"]>div::before {
        transform: translate(-50%, -50%) rotate(45deg) rotateY(180deg) translate(50%);
      }

      &[style="--x:-1; --y:0; --z:0;"]>div::after {
        transform: translate(-50%, -50%) rotate(-135deg) rotateY(180deg) translate(50%);
      }

      /* Right face */
      &[style="--x:1; --y:0; --z:0;"]>div::before,
      &[style="--x:1; --y:0; --z:0;"]>div::after {
        content: "R";
      }

      &[style="--x:1; --y:0; --z:0;"]>div::before {
        transform: translate(-50%, -50%) rotate(45deg) translate(50%);
      }

      &[style="--x:1; --y:0; --z:0;"]>div::after {
        transform: translate(-50%, -50%) rotate(-135deg) translate(50%);
      }
    }
  }
}