body>main>div:nth-of-type(2) {

    & * {
        transform-style: preserve-3d;
    }

    &>div:nth-of-type(1) {
        perspective: 2500px;
        perspective-origin: top right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        --cube-width: 8vh;
        --cube-height: var(--cube-width);
        --cube-depth: var(--cube-width);

        /* Buttons */

        /* Top controls wrapper */
        &>div:first-of-type {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;

            display: flex;
            justify-content: center;
            gap: 40px;

            padding: 16px;
            box-sizing: border-box;
            z-index: 1000;

            & label {
                border: 2px solid black;
                width: 100px;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 8px;
            }

            &>div {
                display: none;
            }

            &>div:not(:has(input[required]:checked)) {
                display: flex;
            }

            &>div:not(:has(input[required]:checked))~div {
                display: none;
            }
        }

        &>div:not(:first-of-type)>div {
            position: absolute;
            width: var(--cube-width);
            height: var(--cube-height);
            transition: transform 0.3s;
        }

        /* All faces */
        &>div>div>div {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 0 2px black;
        }

        &>div>div {

            /* Front faces */
            &>div:nth-child(1) {
                background: black;
                transform: translateZ(calc(var(--cube-depth) / 2));
            }

            &[style*="--z:1"]>div:nth-child(1) {
                background: var(--cube-red);
            }

            /* Back faces*/
            &>div:nth-child(2) {
                background: black;
                transform: translateZ(calc(var(--cube-depth) / -2));
            }

            &[style*="--z:-1"]>div:nth-child(2) {
                background: var(--cube-blue);
            }

            /* Top faces */
            &>div:nth-child(3) {
                background: black;
                transform: rotateX(90deg) translateZ(calc(var(--cube-height) / 2));
            }

            &[style*="--y:-1"]>div:nth-child(3) {
                background: var(--cube-yellow);
            }

            /* Bottom faces */
            &>div:nth-child(4) {
                background: black;
                transform: rotateX(90deg) translateZ(calc(var(--cube-height) / -2));
            }

            &[style*="--y:1"]>div:nth-child(4) {
                background: var(--cube-green);
            }

            /* Right faces */
            &>div:nth-child(5) {
                background: black;
                transform: rotateY(90deg) translateZ(calc(var(--cube-width) / 2));
            }

            &[style*="--x:1"]>div:nth-child(5) {
                background: var(--cube-orange);
            }

            /* Left faces */
            &>div:nth-child(6) {
                background: black;
                transform: rotateY(90deg) translateZ(calc(var(--cube-width) / -2));
            }

            &[style*="--x:-1"]>div:nth-child(6) {
                background: var(--cube-white);
            }
        }

        &>div:nth-of-type(2)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(3)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(4)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(5)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(6)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(7)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(8)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(9)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(10)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(11)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(12)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(13)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(14)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(15)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(16)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(17)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(18)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(19)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(20)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(21)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(22)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(23)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(24)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(25)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(26)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(27)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }

        &>div:nth-of-type(28)>div {
            transform:
                translateX(calc(var(--x) * var(--cube-width))) translateY(calc(var(--y) * var(--cube-height) + var(--cube-height) / -2)) translateZ(calc(var(--z) * var(--cube-depth)));
        }
    }
}